{% extends "base.html.twig" %}

{% block body %}
    <article>
        <h2>Titre de la préstation</h2>
        <div class="content">
            <img src="http://placehold.it/350x150" alt="">
            <p>fjhezuiuuefjvbfjdbvckjbsjhkvfuzegfhksvdjhkv
            kjhsdvfkuqvshfguid
            gsdghsh
            dhsdg
            jdvjksdbvkujv
            </p>
            <p>djbousdlhfigdjb vljbkj dghouidgogq oihgqsoi
            dhgvusdgj   ugdfushoighoisd
            bvsodhgjbdjlv udvujfsdksbigbd 
            jdgfuoqgdljhs
            ddsgsfjgfjdf
            fhd
            dkhgiodbjlvb
            </p>
            <hr>
            <p>hfjsdfjgjdfgusgdugfujdjsghcfiubsdgfviubgdiufvs
            dgcfsudgbvusdbgvjbdghjvbghsuldvgydsyvuglhsbfvjkhg
            djvgfbudslhbvgjklsdhbvjlkshdfgvkldhsgvlkjsdhlkvg
            djvgbiudslghvkjdsshgvlkjsdhjgvsdhkghvusdhvjkdvg
            djvgudsskghvjskdlgvudgvjdgvhfgdusvgsdlvgbjsdkgvbjkl
            djjvgfudslsgbvjkdlgvbuksdvbkjsdgvbuksuvbkjsdvjkbv
            dvjbgjdsgvbubsdgvbjlsdhgfulsvbkjdghvusdgvbkdjgvbukds
            </p>
        </div>
    </article>
{% endblock %}