{% extends 'base.html.twig' %}

{% block title %}Hello Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 style="text-align: center; font-size:400%; font-family: Agreloy;">Mille Et Une Épines</h1>

    <br>
    <br>
    <h5 Style="font-family: Arial;">Bonjour et bienvenue sur le site de Mille Et Une Épines. Nous nous occupons de divers travaux dans le domaine du paysagisme.</h5>
    <br>
    <h5 Style="font-family: Arial;">Nos principaux travaux se spécialisent dans la platation d'arbres, arbustes, conifères ou autres végétaux tels que des haies. Nous pouvons aussi nous charger de l'engazonnement des terrains de sport, parcs ou autres jardins.</h5>
    <br>
    <h5 Style="font-family: Arial;">De plus, nous pouvons nous occuper des travaux d'entretien plus basiques, tels que la taille des arbustes et haies, tonte, traitements phytosanitaires, désherbage chimique ou bien l'élagae et soins aux arbres.<h5>
    <br>
    <h5 Style="font-family: Arial;">Vous trouverez sur ce site quelques exemples parlants de nos travaux, en plus de des avis d'ancien clients, et bien évidemment, des moyens de nous contacter.</h5>
</div>
{% endblock %}
